torch>=1.9.0
torchvision>=0.10.0
timm>=0.6.12
transformers>=4.20.0
opencv-python-headless>=4.5.5
Pillow>=8.3.0
numpy>=1.21.0
scipy>=1.7.0
scikit-image>=0.19.0
streamlit
plotly
streamlit
groq
git+https://github.com/openai/CLIP.git
